<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>NoticiasTVi</display-name>
	<listener>
		<listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
	</listener>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>NoticiasTVi</display-name>
		<servlet-name>NoticiasTVi</servlet-name>
		<servlet-class>es.upm.dit.gsi.servlet.NoticiasTVi</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoticiasTVi</servlet-name>
		<url-pattern>/noticias</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetContentFromSources</display-name>
		<servlet-name>GetContentFromSources</servlet-name>
		<servlet-class>es.upm.dit.gsi.cron.GetContentFromSources</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetContentFromSources</servlet-name>
		<url-pattern>/getcontentfromsources</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetSocialFromContents</display-name>
		<servlet-name>GetSocialFromContents</servlet-name>
		<servlet-class>es.upm.dit.gsi.cron.GetSocialFromContents</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetSocialFromContents</servlet-name>
		<url-pattern>/getsocialfromcontents</url-pattern>
	</servlet-mapping>
</web-app>